body{
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* HEADER */

/* User info */

.header{
  display: flex;
  flex-direction: column;
  background-color: #343240;
  color: white;
}

.header-section{
  display: flex;
  justify-content: space-between;
}

#header-top{
  align-items: center;
  padding: 5px 20px;
}

#header-bottom{
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background-color: #656b81;
}

.user-info{
  display: flex;
  margin: 0;
}

#user-links, 
.user{ 
  display: flex;
  align-items: center;
  gap: 10px;
}


#logo{
  height: 75px;
}

#notifications{
  width: 40px;
  padding: 0 10px;
}

#user-icon{
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid white;
}

.user:hover > a #user-icon{
    border: 2px solid #656b81;
}

.user:hover > #user-greeting p,
.user:hover > #user-greeting h3{
  color: #656b81;
}

#user-hi{
  font-size: 15px;
}

#user-name{
  font-size: 20px;
}

/* Search bar */

#search{
  display: flex;
}

#search-button{
  border: none;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  background-color: #343240;
  height: 30px;
  width: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-img{
  width: 15px;
  padding: 0;
}

#searchbar{
  border: none;
  border-radius: 0 15px 15px 0;
  height: 30px;
  width: 500px;
  padding: 10px;
}

#searchbar:focus{
  outline: none;
}

/* Page links */

#page-links{
  display: flex;
  padding: 5px;
}

#page-links a{
  padding: 3px 5px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#page-links a:hover{
  background-color: #343240;
  border-radius: 5px;
}

.link-img{
  width: 30px;
}

/* FOOTER */

.footer{
  background-color: #343240;
  color: white;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}


#signature{
  padding: 0 20px;
}

#media-links{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  padding: 0 20px;
}

.media-icon{
  width: 30px;
  height: 30px;
}