body{
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* GENERAL */

.img-container img{
  width: 100%;
  height: 100%;
}

.recipe-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 10px;
}

/* HEADER */

/* User info */

.header{
  display: flex;
  flex-direction: column;
  background-color: #343240;
  color: white;
}

.header-section{
  display: flex;
  justify-content: space-between;
}

#header-top{
  align-items: center;
  padding: 5px 20px;
}

#header-bottom{
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background-color: #656b81;
}

.user-info{
  display: flex;
  margin: 0;
}

#user-links, 
.user{ 
  display: flex;
  align-items: center;
  gap: 10px;
}


#logo{
  height: 75px;
}

#notifications{
  width: 40px;
  padding: 0 10px;
}

#user-icon{
  width: 45px;
  height: 45px;
  border-radius: 50px;
  border: 2px solid white;
}

.user:hover > a #user-icon{
    border: 2px solid #f8c365;
}

.user:hover > #user-greeting p,
.user:hover > #user-greeting h3{
  color: #f8c365;
}

#user-hi{
  font-size: 15px;
}

#user-name{
  font-size: 20px;
}

/* Search bar */

#search{
  display: flex;
}

#search-button{
  border: none;
  border-radius: 15px 0 0 15px;
  cursor: pointer;
  background-color: #343240;
  height: 30px;
  width: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-img{
  width: 15px;
  padding: 0;
}

#searchbar{
  border: none;
  border-radius: 0 15px 15px 0;
  height: 30px;
  width: 500px;
  padding: 10px;
}

#searchbar:focus{
  outline: none;
}

/* Page links */

#page-links{
  display: flex;
  padding: 5px;
}

#page-links a{
  padding: 3px 5px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#page-links a:hover{
  background-color: #343240;
  border-radius: 5px;
}

.link-img{
  width: 30px;
}

/* FOOTER */

.footer{
  background-color: #343240;
  color: white;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#signature{
  padding: 0 20px;
}

#media-links{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  padding: 0 20px;
}

.media-icon{
  width: 30px;
  height: 30px;
}

/* PRINCIPAL PAGE */

/* General */

.last-container{
  display: flex;
  justify-content: center;
  margin: 30px;
}

.favorites-container{
  margin: 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 400px);
  justify-items: center;
}

.section-banner{
  height: 350px;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Varela Round', Helvetica;
  font-size: 40px;
  letter-spacing: 3px;
  color: white;
}

.section-title{
  font-family: 'Varela Round', Helvetica;
  font-size: 75px;
  color: white;
  text-align: center;
  position: relative;
}

.section-title:before {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #FFF;
  left: 0;
  top: 50%;
  position: absolute;
}

.section-title:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: #FFF;
  right: 0;
  top: 50%;
  position: absolute;
}
.subsection-title{
  font-size: 40px;
  font-family: 'Varela Round', Helvetica;
  margin: 20px 50px;
}

.principal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#principal-title{
  width: 600px;
}

#principal-banner{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./src/assets/principal-banner.png');
  background-size: cover;
}

hr{
  width: 90%;
  border: 1px dashed #343240;
}

.page-presentation{
  border: 2px dashed #343240;
  background-color: #e6ebff;
  margin: 40px;
  width: 70%;
  
}

.page-presentation p{
  font-size: 20px;
  font-family: 'Varela Round', Helvetica;
  margin: 20px 50px;
}

/* Favorite recipes */

.favorite-card{
  display: flex;
  justify-content: start;
  width: 340px;
  height: 190px;
  padding: 20px;
  margin: 20px 10px;
  background-color: #e6ebff;
  border-radius: 5px;
}

.favorite-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.favorite-img{
  width: 170px;
  height: 170px;
}

.favorite-img img{
  object-fit: cover;
}

.favorite-buttons{
  background-color: #656b81;
  color: white;
  font-family: 'Blogger Sans';
  font-size: 15px;
  border: none;
  border-radius: 5px;
  width: 120px;
  height: 35px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}

.favorite-info{
  font-family: 'Blogger Sans', Helvetica;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.favorite-title{
  align-self: flex-start;
  font-size: 25px;
  margin: 0;
}

.favorite-short-desc{
  margin: 0;
}

/* Last recipes */

.last-img{
  width: 1000px;
  height: 600px;
  display: flex;
  align-items: center;
  position: relative;
}

.last-img img{
  object-fit: cover;
  z-index: -1;
}

.slider-button{
  width: 50px;
  height: 50px;
  margin: 10px;
  position: absolute;
  border: none;
  border-radius: 5px;
  font-family: 'Blogger Sans', Helvetica;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#last-button{
  left: 0%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

#next-button{
  right: 0%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.last-info{
  position: absolute;
  bottom: 0;
  height: 35%;
  width: 100%;
  color: white;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.last-info #last-title{
  margin: 30px 30px 0 30px;
  font-size: 50px;
  font-family: 'Varela Round', Helvetica;
}

.last-info #last-short-desc{
  margin: 0 30px;
  font-size: 30px;
  font-family: 'Blogger Sans', Helvetica;
}

/* RECIPE */

/* Recipe card */

.recipe-card{
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  background-color: #f5f0e6;
  border-radius: 5px;
}

.recipe-info{
  font-family: 'Blogger Sans', Helvetica;
  margin: 15px 0;
}

.recipe-title{
  margin: 0;
  font-size: 25px;
  font-family: 'Varela Round', Helvetica;
}

.recipe-category{
  margin: 0;
  padding: 0;
}

.recipe-description{
  margin: 5px 0;
}

.recipe-buttons button{
  background-color: #f8c365;
  color: #c77136;
  font-family: 'Blogger Sans';
  font-weight: bold;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  padding: 5px;
}

@font-face {
  font-family: 'Blogger Sans';
  src: url(../src/assets/fonts/blogger-sans.regular.ttf);
}

@font-face {
  font-family: 'Varela Round';
  src: url(../src/assets/fonts/varela-round.regular.ttf);
}

/* Recipes page */

#all-recipes-banner{
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./src/assets/recipes-banner.jpg');
  background-size: cover;
}

#all-recipes-title{
  width: 950px;
}

.recipes-container{
  margin: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}